{% extends "layout.html" %}

{% block title %}データ解析ページ：アクセスログ解析ツール{% endblock %}

{% block content %}
<h2 class="heading-18">📉アクセスログ解析ツール：入力画面</h2>
<br>
<div class="box-012">
    <span>説明</span>
    <p>IpId,TimeStamp,HttpMethod,Uri(URL),Status,Bytes,<br>
        Referrer,UserAgentを半角カンマ区切りで入力してください<br>
    ※数値によってはエラーが起きる可能性があります</p>
</div>
<br>
<div>
    <form action="/insert_result" method="POST">
                  	  <label for='title'>データ入力</label>
                      <p></p>
              	      <input type="textarea" class="form-control" name="insert_d" id="insert_d">
        <button type="submit">入力</button>
     </form>
     
     <br>
</div>
<div >

</div>



<a href="/main">戻る</a>
<style>

</style>

<!--JSによる通知機能（未実装）-->
<script>
/*const form = document.querySelector("form");
    form.onsubmit = (event) => {
        event.preventDefault();
        //データの受け先を用意
        let insert_data = "";
        let insert_data_display="";
        insert_data=document.getElementById("insert_d");
        insert_data_display=insert_data.value;
        console.log("入力された文字は"+insert_data_display)
        alert('書き込みが完了しました！'+insert_data_display);
        try{
            console.log("入力完了ページへ移動します");
            //insert_resultへ飛ぶ
        }
        catch(error){
            console.log("エラーが発生しました"+error);
        }
        
    };*/
</script>

{% endblock %}